language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
matrix:
    include:
        - python: "3.7"
          dist: xenial
        - python: "3.8-dev"
          dist: xenial

install:
    - pip install -U setuptools==33.1.1
    - pip install zc.buildout
    - buildout bootstrap
    - buildout
script:
    - bin/test -v1
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
