[buildout]
extends = https://raw.githubusercontent.com/zopefoundation/Zope/master/versions.cfg
develop = .
parts = interpreter test
versions = versions

[versions]
Products.ZCTextIndex =

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs = Products.ZCTextIndex

[test]
recipe = zc.recipe.testrunner
eggs = Products.ZCTextIndex
